<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CatFriends</title>
    <link rel="stylesheet" href="assets/dest/css/styles.min.css">
    <script src="assets/dest/js/angular.min.js"></script>
    <script src="assets/dest/js/main.js"></script>
</head>

<body data-ng-app="WiskasPageApp" data-ng-controller="userCtrl">
    <div class="home-page flex-row-class flex-center-center-class">
        <div>
            <div class="home-page-logo flex-row-class flex-center-center-class">
                <span>Cat</span><span>Friends</span>
                <img src="assets/dest/img/logo-img.png" alt="logo-cat">
            </div>
            <div class="flex-row-class flex-between-class">
                <span>< Previous user</span>
                <span>Next user ></span>
            </div>
            <div class="flex-row-class flex-center-center-class" ng-repeat='user in users | filter : {id: 1}'>
                <section ng-style="myStyle" data-ng-controller="AppController as ctrl" class="flex-center-center-class">
                    <button class="close-but" ng-click="myStyle={'display':'none'}"><img src="assets/dest/img/close-icon.png" alt="close"></button>
                    <!--user-name\surname\born\gender\phone\email-->
                    <form ng-submit="ctrl.submit()" name="myForm" class="form_cont flex-column-class flex-center-center-class">
                        <input type="hidden" ng-model="ctrl.user.id" />
                        <label class=" control-lable" for="name">Name</label>
                        <input type="text" ng-model="ctrl.user.username" id="name" class="username form-control" placeholder="Enter your name" required ng-minlength="3" />

                        <label class="control-lable" for="exampleInputPassword1">Password</label>
                        <input type="password" ng-model="ctrl.user.password" class="password form-control form-control" id="exampleInputPassword1" placeholder="Password" required ng-minlength="4">

                        <label class="control-lable" for="number">Phone number</label>
                        <input type="number" ng-model="ctrl.user.number" id="number" value="" class="number form-control" placeholder="Phone number" required ng-minlength="12" />

                        <label class="control-lable" for="country">Country</label>
                        <input type="text" ng-model="ctrl.user.country" id="country" class="country form-control" required placeholder="Enter your Country." />

                        <label class="control-lable" for="city">City</label>
                        <input type="text" ng-model="ctrl.user.city" id="city" class=" city form-control" required placeholder="Enter your City." />

                        <label class="control-lable" for="email">Email</label>
                        <input type="email" ng-model="ctrl.user.email" id="email" class="email form-control" placeholder="Enter your Email" required/>

                        <input type="submit" value="{{!ctrl.user.id ? 'Add' : 'Update'}}" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.reset()" ng-disabled="myForm.$pristine">Reset Form</button>
                </section>
                <div class="user-inform flex-column-class">
                    <button ng-click="myStyle={'display':'flex'}"><img src="assets/dest/img/profile-icon.png" alt="profile"></button>
                    <div>
                        <img src="{{user.img}}" alt="user-foto">
                        <span>{{user.name}} {{user.surname}}</span>
                    </div>
                    <div>
                        <span class="user-titel">Born</span>
                        <span>{{user.born}}</span>
                    </div>
                    <div>
                        <span class="user-titel">Gender</span>
                        <span>{{user.gender}}</span>
                    </div>
                    <div>
                        <span class="user-titel">Phone</span>
                        <span>{{user.phone}}</span>
                    </div>
                    <div>
                        <span class="user-titel">Email</span>
                        <span>{{user.email}}</span>
                    </div>
                </div>
                <div class="user-contact-block flex-column-class">
                    <div class="user-frinds-block flex-column-class">
                        <span>{{user.name}}'s friends</span>
                        <ul class="user-friends-block-items flex-row-class">
                            <li ng-repeat="friend in user.friends">
                                <div><img src="http://s.pikabu.ru/post_img/2013/12/02/8/1385985936_1683907691.jpg" alt="user-avatar"></div>
                                <div>
                                    <span>Name Surname</span>
                                    <div class="user-friends-block-items-inform flex-row-class flex-between-class">
                                        <span>20 Friends</span>
                                        <span>2 Cats</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="user-cats-block flex-column-class">
                        <span>{{user.name}}'s cats </span>
                        <ul class="user-cats-block-items flex-row-class">
                            <li class="flex-column-class" ng-repeat="cat in user.cats">
                                <div><img src="{{cat.img}}" alt="user-cat"></div>
                                <span>{{cat.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>